* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding-inline: 2em;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 300px;
    margin-top: 2em;
}

input {
    padding: 0.7em 1.4em;
}

button {
    padding: 0.7em 1.4em;
}